*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/letsgo-data/letsgo-entity/target/
/letsgo-data/target/
/letsgo-spring/target/
/letsgo-mdb/target/
/letsgo-data/letsgo-ejb/target/
/letsgo-ejb-remote-client/target/
/letsgo-jsf/target/
/letsgo-services/letsgo-rest/letsgo-rest-resteasy/target/
/letsgo-services/letsgo-rest/letsgo-rest-resteasy/letsgo-rest-resteasy-user-registation/letsgo-rest-resteasy-user-registation-jpa/letsgo-rest-resteasy-user-registation-jpa-mysql/target/
/letsgo-services/letsgo-rest/letsgo-rest-protobuf/target/
/letsgo-services/letsgo-rest/letsgo-rest-apache-cxf/target/
/letsgo-services/letsgo-rest/letsgo-rest-thrift/target/
/letsgo-services/letsgo-rest/letsgo-rest-restlet/target/
/letsgo-services/letsgo-rest/letsgo-rest-jersey/target/
/letsgo-services/letsgo-rest/letsgo-rest-apache-axis2/target/
/nbproject/
/letsgo-data/letsgo-place/letsgo-place-ear/target/
/letsgo-data/letsgo-game-comment/letsgo-game-comment-ear/target/
/letsgo-data/letsgo-city/letsgo-city-ear/target/
/letsgo-data/letsgo-ear/target/
/letsgo-data/letsgo-game-move/letsgo-game-move-ear/target/
/letsgo-data/letsgo-league/letsgo-league-ear/target/
/letsgo-data/letsgo-move-comment/letsgo-move-comment-ear/target/
/letsgo-data/letsgo-room/letsgo-room-ear/target/
/letsgo-data/letsgo-team/letsgo-team-ear/target/
/letsgo-data/letsgo-user/letsgo-user-ear/target/
/letsgo-data/letsgo-user-ban/letsgo-user-ban-ear/target/
/letsgo-data/letsgo-user-degree/letsgo-user-degree-ear/target/
/letsgo-services/letsgo-rest/letsgo-rest-resteasy/letsgo-password-utils/target/
/letsgo-services/letsgo-rest/letsgo-rest-resteasy/letsgo-rest-resteasy-password-utils/target/
/letsgo-services/letsgo-rest/letsgo-rest-pure/letsgo-rest-pure-lightweight/target/
/letsgo-services/letsgo-rest/letsgo-rest-pure/letsgo-rest-pure-lightweight/letsgo-rest-pure-lightweight-user-registration/target/