*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/letsgo-web/nbactions.xml
/letsgo-soap/nb-configuration.xml
/letsgo-rest/nb-configuration.xml
/letsgo-remote/nb-configuration.xml
/letsgo-ejb/nb-configuration.xml
/letsgo-ear/nb-configuration.xml
/letsgo-client/nb-configuration.xml
/nb-configuration.xml
/letsgo-client/target/
/letsgo-ear/target/
/letsgo-ejb/target/
/letsgo-remote/target/
/letsgo-rest/target/
/letsgo-web/target/
/letsgo-jpa/target/
/letsgo-spring/target/
/letsgo-spring/target/
/target/
/letsgo-soap/target/
/letsgo-PrimeFaces/target/
/letsgo-jpa/nbproject/
/letsgo-spring-web/target/
/letsgo-spring/letsgo-spring-web/target/
/letsgo-data-service/letsgo-data-ejb/target/
/letsgo-data-service/letsgo-data-jpa/target/
/letsgo-data-service/letsgo-data-ear/target/
/letsgo-data-service/letsgo-data-web/target/
/letsgo-spring/letsgo-spring-ear/target/
/letsgo-data/letsgo-data-ear/target/
/letsgo-data/letsgo-data-ejb/target/
/letsgo-data/letsgo-data-jpa/target/
/letsgo-data/letsgo-data-web/target/
/letsgo-data/letsgo-data-ear/target/
/letsgo-data/letsgo-data-web/target/
/letsgo-data/letsgo-data-jpa/target/
/letsgo-data/letsgo-data-ejb/target/
/mavenproject1/mavenproject1-ejb/target/
/mavenproject1/mavenproject1-ear/target/
/mavenproject1/mavenproject1-web/target/
/mavenproject1/target/
/letsgo-data/letsgo-data-remote/target/
/letsgo-data-jpa/target/
/letsgo-data/letsgo-ban-ejb/target/
/letsgo-data/letsgo-ejb/target/
/letsgo-data/letsgo-rest/target/
/letsgo-data/letsgo-remote/target/
/letsgo-data/letsgo-ear/target/
/letsgo-data/letsgo-entity/target/
/letsgo-data/letsgo-place-ejb/target/
/letsgo-data/letsgo-game-ejb/target/
/letsgo-place-rest/target/
/rest/letsgo-place-rest/target/
/rest/letsgo-game-rest/target/
/letsgo-rest/letsgo-game-rest/target/
/letsgo-rest/letsgo-place-rest/target/
/letsgo-soap/letsgo-game-soap/target/
/letsgo-soap/letsgo-client-soap/target/
/letsgo-mdb/letsgo-game-mdb/target/
/letsgo-soap/lesgo-game-client/target/
/letsgo-data/letsgo-city-ejb/target/
/letsgo-data/letsgo-game-comment-ejb/target/
/letsgo-data/letsgo-event-ejb/target/
/letsgo-data/letsgo-game-date-ejb/target/
/letsgo-data/letsgo-game-move-ejb/target/
/letsgo-data/letsgo-league-ejb/target/
/letsgo-data/letsgo-move-comment-ejb/target/
/letsgo-data/letsgo-room-ejb/target/
/letsgo-data/letsgo-team-ejb/target/
/letsgo-data/letsgo-user-ejb/target/
/letsgo-data/letsgo-user-degree-ejb/target/
/letsgo-data/letsgo-user-ban-ejb/target/
/letsgo-data/letsgo-user-role-ejb/target/
/letsgo-data/letsgo-user-game-ejb/target/
/letsgo-data/letsgo-place/letsgo-place-ear/target/
/letsgo-data/letsgo-place/letsgo-place-ejb/target/
/letsgo-data/letsgo-game/letsgo-game-ejb/target/
/letsgo-data/letsgo-city/letsgo-city-ejb/target/
/letsgo-data/letsgo-event/letsgo-event-ear/target/
/letsgo-data/letsgo-event/letsgo-event-ejb/target/
/letsgo-data/letsgo-game-comment/letsgo-game-comment-ejb/target/
/letsgo-data/letsgo-game-date/letsgo-game-date-ejb/target/
/letsgo-data/letsgo-game-move/letsgo-game-move-ejb/target/
/letsgo-data/letsgo-league/letsgo-league-ejb/target/
/letsgo-data/letsgo-move-comment/letsgo-move-comment-ejb/target/
/letsgo-data/letsgo-room/letsgo-room-ejb/target/
/letsgo-data/letsgo-team/letsgo-team-ejb/target/
/letsgo-data/letsgo-user-role/letsgo-user-role-ejb/target/
/letsgo-data/letsgo-user/letsgo-user-ejb/target/
/letsgo-data/letsgo-league/letsgo-league-ear/target/
/letsgo-data/letsgo-user/letsgo-user-ear/target/
/letsgo-data/letsgo-game-move/letsgo-game-move-ear/target/
/letsgo-data/letsgo-game-date/letsgo-game-date-ear/target/
/letsgo-data/letsgo-city/letsgo-city-ear/target/
/letsgo-data/letsgo-move-comment/letsgo-move-comment-ear/target/
/letsgo-data/letsgo-team/letsgo-team-ear/target/
/letsgo-data/letsgo-room/letsgo-room-ear/target/
/letsgo-data/letsgo-user-role/letsgo-user-role-ear/target/
/letsgo-data/letsgo-user-ban/letsgo-user-ban-ejb/target/
/letsgo-data/letsgo-user-ban/letsgo-user-ban-ear/target/
/letsgo-data/letsgo-user-degree/letsgo-user-degree-ejb/target/
/letsgo-data/letsgo-user-degree/letsgo-user-degree-ear/target/
/letsgo-data/letsgo-user-game/letsgo-user-game-ejb/target/
/letsgo-data/letsgo-user-game/letsgo-user-game-ear/target/
/letsgo-data/letsgo-entity/nbproject/
/letsgo-data/letsgo-place/letsgo-place-ejb/nbproject/
/letsgo-data/letsgo-game/letsgo-game-ejb/nbproject/
/letsgo-data/letsgo-city/letsgo-city-ejb/nbproject/
/letsgo-data/letsgo-event/letsgo-event-ejb/nbproject/
/letsgo-data/letsgo-game-comment/letsgo-game-comment-ejb/nbproject/
/letsgo-data/letsgo-game-date/letsgo-game-date-ejb/nbproject/
/letsgo-data/letsgo-game-move/letsgo-game-move-ejb/nbproject/
/letsgo-data/letsgo-league/letsgo-league-ejb/nbproject/
/letsgo-data/letsgo-move-comment/letsgo-move-comment-ejb/nbproject/
/letsgo-data/letsgo-room/letsgo-room-ejb/nbproject/
/letsgo-data/letsgo-team/letsgo-team-ejb/nbproject/
/letsgo-data/letsgo-user-role/letsgo-user-role-ejb/nbproject/
/letsgo-data/letsgo-user/letsgo-user-ejb/nbproject/
/letsgo-data/letsgo-user-ban/letsgo-user-ban-ejb/nbproject/
/letsgo-data/letsgo-user-degree/letsgo-user-degree-ejb/nbproject/
/letsgo-data/letsgo-user-game/letsgo-user-game-ejb/nbproject/
/letsgo-data/letsgo-city/nbproject/
/letsgo-data/letsgo-city/target/
/letsgo-wso2/letsgo-city-ejb-client/target/
/letsgo-spring/letsgo-spring/target/
/letsgo-wso2/letsgo-wso2-msf4j-city/target/
/letsgo-wso2/Hello-Service/target/
/microsevices/wso2-msf4j/Hello-Service/target/
/letsgo-ejb-remote-client/letsgo-city-ejb-client/target/
/microsevices/wso2-msf4j/wso2-msf4j-city-microservice/target/
/microsevices/wildfly-swarm/wildfly-swarm-city-microservice/target/
/microsevices/spring-boot/letsgo-spring-boot-city-rest-microservice/target/
/letsgo-data/letsgo-game-comment/letsgo-game-comment-ear/target/
/letsgo-data/letsgo-game/letsgo-game-ear/target/
/spring/letsgo-spring/target/
/microsevices/vert.x/letsgo-vertx-city-microservice/target/
/letsgo-spring/spring-angular-bootstrap/letsgo-spring-city-angular-bootstrap/target/
/letsgo-spring/spring-angular-bootstrap/letsgo-spring-angular-bootstrap-city/target/
/letsgo-spring/letsgo-spring-jsp/letsgo-spring-jsp-city/target/
/letsgo-rest/letsgo-rest-game/target/
/letsgo-rest/letsgo-rest-place/target/
/letsgo-rest/letsgo-rest-degree/target/