*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/letsgo-data/letsgo-entity/target/
/letsgo-data/target/
/letsgo-spring/target/
/letsgo-mdb/target/
/letsgo-data/letsgo-ejb/target/
/letsgo-ejb-remote-client/target/
/letsgo-jsf/target/
/letsgo-services/letsgo-rest/letsgo-rest-resteasy/target/
/letsgo-services/letsgo-rest/letsgo-rest-resteasy/letsgo-rest-resteasy-user-registation/letsgo-rest-resteasy-user-registation-jpa/letsgo-rest-resteasy-user-registation-jpa-mysql/target/
/letsgo-services/letsgo-rest/letsgo-rest-protobuf/target/
/letsgo-services/letsgo-rest/letsgo-rest-apache-cxf/target/
/letsgo-services/letsgo-rest/letsgo-rest-thrift/target/
/letsgo-services/letsgo-rest/letsgo-rest-restlet/target/
/letsgo-services/letsgo-rest/letsgo-rest-jersey/target/
/letsgo-services/letsgo-rest/letsgo-rest-apache-axis2/target/
/nbproject/